.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

.well {
  background: rgba(249, 249, 249, 0.41);
}

.row-indenting {
  padding: 15px 15px 0;
  margin-bottom: 0;
}
.indent-top {
  margin-top: 7px;
}

.indent-horizontal {
  margin: 0 7px;
}

.todo-done {
  color: #56be01;
}

.todo-input {
  height: 50px;
  font-size: 2em;
  cursor: default !important;
}

.todo-input-done {
  background-color: rgba(210, 230, 210, 0.85) !important;
}

.todo-list-elem {
  font-size: 1.5em;
}

.disabled-link {
  color: #AAA;
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}
